
.slick-slider{
    width: 100%;
    .slick-next{
        right: 50px;
        z-index: 2;
        &::before{
            display: none;
        }
    }
    .slick-prev{
        left: 50px;
        z-index: 2;
        &::before{
            display: none;

        }
    }
    .slick-dots{
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        li{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #faa500;
            background: transparent;
            button{

                &::before{
                    display: none;
                }
            }
            &.slick-active{
                background: #faa500;
            }
        }
    }
}
.slick-list{
    padding-bottom: 4px !important;
}
@media (max-width: 1024px) {
    .slick-list{
        overflow: visible !important;
    }
}